body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    text-align: center;
    margin-top: 60px;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.counter-display {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 40px;
    border: 3px solid #000;
    width: 150px;
    height: 100px;
    line-height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.button-row {
    margin: 15px 0;
}

.btn {
    padding: 12px 25px;
    margin: 0 10px;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}

/* Tombol reset merah */
.btn.red {
    background: #e02828;
    color: white;
}

/* Tombol tambah/kurang hijau */
.btn.green {
    background: #44b35a;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}
